Options -Indexes 
ErrorDocument 404 /404.php

SetEnv force-no-vary
SetEnv downgrade-1.0

<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
  php_value display_errors 1
  php_value mbstring.internal_encoding UTF-8
  php_value max_execution_time 1200
  php_value memory_limit 512M
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  
  # редирект /news/123 -> /news/123/
  RewriteCond %{REQUEST_URI} ^(.*/[^/\.]+)$
  RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1/ [R=301,L]  
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule>

<FilesMatch "\.(csv)$">
Order allow,deny
Deny from all
</FilesMatch>