AuthType Basic
AuthName "restricted area"
AuthUserFile /var/www/www-root/data/www/studiof1-test.ru/tools/.htpasswd
require valid-user
<Files .htpasswd>
   deny from all  #запрет доступа из браузера к .htpasswd
</Files>
